* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    line-height: inherit;
    white-space: nowrap;
    text-decoration: none;
    color: whitesmoke;
}

.navbar-brand:hover {
    color: yellow;
}